{% extends 'base_back.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container" style="max-width:50vw">
        <h1 style="text-align:center" class="pt-4">Promos</h1>

        <button class="btn btn-success"><a href="{{ path('app_admin_promo_new') }}" class="nav-link">Nouvelle Promo</a></button>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Centre</th>
                    <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for promo in promos %}
                <tr>
                    <td>{{ promo.nom }}</td>
                    <td>{{ promo.centre }}</td>
                    <td style="text-align:end">
                        <a href="{{ path('app_admin_promo_edit', {'id': promo.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">pas de données...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
    
{% endblock %}
