{% extends 'base_back.html.twig' %}

{% block title %}New Centre{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container" style="max-width:50vw">
        <div class="d-flex justify-content-center pt-4">
            <h1>Nouveau Centre de Formation</h1>
        </div>
        
        <div class="d-flex justify-content-start pb-3">
            <button class="btn btn-primary"><a href="{{ path('app_admin_centre_index') }}" class="nav-link">Retour a la liste</a></button>
        </div>
        <div id="form">
            {{ include('admin_centre/_form.html.twig') }}
        </div>
    </div>
</div>
    
{% endblock %}
